extends layout

block content
  #openseadragon1.openseadragon
  div
    button#laddabild1 ladda bild 1
    button#laddabild2 ladda bild 2
    label(for='maxzoomlevel') MaxZoomLevel
    input#maxzoomlevel(type='text', name='maxzoomlevel')
    button#setmaxzoomlevel Sätt maxzoomlevel
