extends layout

block content
  header
    ul
        li Hem
        li Om
        li Hjälp
  section
    h1 Html5 tester
    p Det här dokumentet använder många semantiska html5-taggar. Tanken är att se hur äldre browsers hanterar strukturen.
    #openseadragon1.openseadragon

  footer
    span Kontaktuppgifter
